.index{
  -webkit-text-stroke: 4px gray;
}
.banner{
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
}

.genre:hover{
    background-color: grey;
}

.navbar{
   background: -moz-linear-gradient(bottom,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 95%) !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,0)), color-stop(95%,rgba(0,0,0,1))) !important;
  background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 95%)!important;
  background: -o-linear-gradient(bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 95%)!important;
  background: -ms-linear-gradient(bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 95%)!important;
  background: linear-gradient(to top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 95%)!important;
}